<h1>This is the about page</h1>

<style>
    body{background-color:tomato;}
    
</style>


<p style = "color:purple">Hello im welcome to my website!!!!!</p>
<img src = "http://ghk.h-cdn.co/assets/16/09/980x490/landscape-1457107485-gettyimages-512366437.jpg">
<%= link_to 'Home', root_path%>