<head>
    
    
    
</head>

<style>
    
    p{color: Blue;}
    body{background-color: PowderBlue;}
    
</style>


<body>

    <h1>This is the homepage</h1>

    <%= link_to 'About', about_path %>
    
    <img src = "https://pre00.deviantart.net/1c8f/th/pre/i/2015/283/8/4/one_punch_man_vector_by_kuyamark96-d9cn1li.png" alt = "One punch man" height = "100", width = "100">
    
    <p> This is one punch man </p>

</body>